body, html {
    width: 100%;
    height: 100%;
    background-color: #3d3d3d;
    overflow: hidden;

    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style-type: None;
    text-align: center;
    line-height: 150px
}

ul {
    height: auto;
    display: grid;
    grid-template-columns: 110px 110px;
    grid-gap: 0px;
    align-items: center;
    justify-items: center;

    padding-left: calc((100% - 222px)/2);
    padding-bottom: 10px;
    border: 2px solid black;
    background-color: #79fbff;
}

.main {
    width: fit-content;
    background-color: #3d3d3d;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;

    margin: auto;
    z-index: -1;
}

.game {
    background-image: url("Sprites/background.png");
    position: relative;

    z-index: 1;

    background-color: #171717;
    border: 5px solid #000000;
}

.shop {
    width: 300px;
    padding: 10px;
    margin: 0px;
    
    background-color: #171717;
    border: 5px solid #000000;
}

.unit-slot {
    background-size: cover;

    border: solid black 2px;
    border-radius: 5px;
    box-shadow: 2px 2px black;

    color: whitesmoke;
    font-weight: bold;
    font-size: xx-large;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    user-select: none;

    width: 100px;
    height: 100px;
    margin-top: 6px;

    overflow: hidden;
}

.button-animation {
    animation-name: dim-button;
    animation-duration: 0.5s;
}

@keyframes dim-button {
    from {filter: brightness(0.5);}
    to {filter: brightness(1);}
}

.upgrade-menu {
    width: 200px;
    height: 30px;
    position: absolute;
    background-color: #171717;
    border: 5px solid #000000;
    z-index: 10;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}
