@font-face {
    font-family: slksrc;
    src: url(Fonts/slkscr.ttf);
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #3d3d3d;
    overflow: hidden;

    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style-type: None;
    text-align: center;
    line-height: 150px
}

ul {
    height: auto;
    display: grid;
    grid-template-columns: 110px 110px;
    grid-gap: 0px;
    align-items: center;
    justify-items: center;

    padding-left: calc((100% - 222px)/2);
    padding-bottom: 10px;
    border: 2px solid black;
    background-color: #79fbff;
}

.main {
    width: fit-content;
    background-color: #3d3d3d;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;

    margin: auto;
    z-index: -1;
}

.game {
    background-image: url("Sprites/background.png");
    position: relative;

    z-index: 1;

    background-color: #171717;
    border: 5px solid #000000;
}

.shop {
    width: 300px;
    padding: 10px;
    margin: 0px;
    position: relative;
    
    background-color: #171717;
    border: 5px solid #000000;
    z-index: 1;
}

.unit-slot {
    background-size: cover;

    border: solid black 2px;
    border-radius: 5px;
    box-shadow: 2px 2px black;

    color: whitesmoke;
    font-weight: bold;
    font-size: xx-large;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    user-select: none;

    width: 100px;
    height: 100px;
    margin-top: 6px;

    overflow: hidden;
}

.button-animation {
    animation-name: dim-button;
    animation-duration: 0.1s;
}

@keyframes dim-button {
    from {filter: brightness(1);}
    to {filter: brightness(0.5);}
}

.upgrade-menu {
    width: 240px;
    height: 40px;
    position: absolute;
    background-color: #171717;
    border: 5px solid #000000;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

    z-index: 10;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
}

.show-cost {
    width: 90px;
    height: 30px;
    position: absolute;
    background-color: #3CA370;
    border: 5px solid #000000;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;

    z-index: 99;
}

.ability-bar {
    position: absolute;
    width: 600px;
    height: 132px;
    top: 1202px;
    left: 12px;
    z-index: 99;
    display: grid;
    grid-template-columns: 128px 128px 128px 128px 128px 128px;
    grid-gap: 10px;
    padding: 10px;
}

.ability {
    width: 128px;
    height: 128px;
    background-size: cover;
    overflow: hidden;
}

.ability-cooldown {
    position: relative;
    width: 128px;
    height: 128px;
    background-color: #1717175b;
}

.next-wave {
    width: 128px;
    height: 128px;
    margin-bottom: 5px;
    margin-right: 5px;
    background-size: cover;
    background-image: url("Sprites/skip.png");
    z-index: 2;
    border: solid black 2px;
    border-radius: 5px;
    box-shadow: 2px 2px black;

    position: absolute;
    bottom: 0px;
    right: 0px;
}

@keyframes wave-animation {
    0% {top: -300px;}
    25% {top: 362px;}
    50% {top: 362px;}
    75% {top: 1500px;}
}

.next-wave-messagebox {
    position: absolute;
    width: 1541px;
    height: 300px;
    z-index: 999;
    color: white ;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 128px;
    text-align: center;

    background-color: red;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    animation-name: wave-animation;
    animation-duration: 4s;
}

.next-wave-message {
    width: 1fr;
    height: 3fr;
    background-color: #171717;
    font-family: slksrc;
    line-height: 180px;
}

.next-wave-message-footer {
    width: 1fr;
    height: 1fr;
    background-color: rgb(240, 240, 0);
}

@keyframes win-animation {
    0% {top: -600px;}
    25% {top: 162px;}
    50% {top: 162px;}
}

.win-message {
    position: absolute;
    width: 420px;
    height: 600px;
    left: 622px;
    top: 162px;
    z-index: 999;
    color: white ;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 64px;
    line-height: 125px;
    text-align: center;
    font-family: slksrc;
    border: 5px solid black;
    border-radius: 10px;

    background-color: red;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    animation-name: win-animation;
    animation-duration: 4s;
}

.win-title {
    height: 1fr;
    background-color: pink;
}

.win-content {
    height: 3fr;
    background-color: #171717;
}

.win-next {
    height: 1fr;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: pink;
}

.win-button {
    width: 1fr;
    background-color: pink;
    border: 2px solid black;
    font-family: slksrc;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 24px;
    line-height: 125px;
}

@keyframes dim-endgame {
    from {filter: opacity(0.1);}
    to {filter: opacity(0.5);}
}

.endgame-focus {
    position: absolute;
    width: 1536px;
    height: 1024px;
    background-color: black;
    animation-name: dim-endgame;
    animation-duration: 2s;
    filter: opacity(0.5);
    margin: 5px;

    z-index: 998;
}